{
  "extends": ["plugin:prettier/recommended"],
  "ignorePatterns": ["dist/", "node_modules/"],
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": 
    [
      "error", 
      { 
        "endOfLine": "auto" 
      }
    ]   
  }
}